.list {
  width: 20%;
  margin: 0;
  padding: 20px;
}

.li {
  list-style: none;
  padding: 10px;
}

.link {
  color: #27314c;
  text-decoration: none;
}

.title {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  color: #27314c;
}
