.book {
  display: flex;
  flex-direction: row;
}

.left {
  width: 30%;
}

.img {
  width: 100%;
  height: auto;
}

.right {
  width: 70%;
  padding: 0 20px;
}

.title {
  margin-top: 0;
  yesfont-size: 32px;
  font-weight: bold;
  color: #27314c;
}

.priceWrapper {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  border: 2px solid #369ae9;
  background-color: #ecf3fc;
  color: #369ae9;
  border-radius: 4px;
  padding: 10px;
}

.price {
  font-size: 16px;
  font-weight: bold;
}
