.book {
  width: 20%;
  padding: 17px;
}

.link {
  text-decoration: none;
}

.img {
  width: 100%;
  height: auto;
  max-height: 218px;
}

.title {
  font-weight: bold;
  text-align: center;
  color: #27314c;
}

.author {
  color: #788ead;
}

.infos {
  display: flex;
  justify-content: space-around;
  color: #27314c;
}

.price {
  display: inline;
  border-radius: 4px;
  font-size: 12px;
  font-weight: bold;
  background-color: #f44f71;
  color: white;
  padding: 4px;
}

.infosWrapper {
  min-height: 80px;
}
